.form-wrapper,
.incident-form-wrapper {
    width: 40%;
    background-color: #112f41;
    margin: 20px auto;
    padding: 20px 30px;
    color: azure;
    border-radius: 10px;
    box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.75);
}


.entry-form {
    text-align: center;
    font-size: 1rem;
}

.form-group input {
    display: inline-block;
    margin-top: 15px;
}

.entry-form input[type=text],
.entry-form input[type=password] {
    width: 90%;
    height: 40px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 700;
}

.entry-form ::-webkit-input-placeholder {
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    font-size: 0.8rem;
}

.form-title a {
    text-decoration: none;
}

.form-title a {
    font-family: 'Dancing Script', cursive;
    color: #F2B134;
    font-size: 3rem;
    margin-bottom: 10px;
}

.form-title a:hover {
    color: azure;
}

.form-subtitle {
    margin-bottom: 5px;
    text-transform: uppercase;
}

.form-footer {
    margin-top: 10px;
    font-size: 0.9rem;
}

.form-footer a {
    text-decoration: none;
    color: #F2B134;
}

.form-footer a:hover {
    text-decoration: underline;
}

/* Buttons */
.form-button {
    width: 60%;
    font-size: 1rem;
    font-weight: 800;
    background-color: #4eea2a;
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    margin-top: 15px;
    text-transform: uppercase;
}

.form-button:hover {
    background-color: #F2B134;
    transition: ease-in 0.2s;
    color: azure !important;
}

/*Form Media queries */
@media (max-width: 764px) {
    .form-wrapper {
        width: 80%;
    }
}

@media (max-width: 364px) {
    .form-wrapper {
        width: 100%;
    }
}
.incident {
    height: 100%;
    position: relative;
}
.incident-form .form-group {
    margin-top: 10px;
}

.incident-form-wrapper {
    width: 100%;
}

.incident-form input {
    width: 75%;
    height: 40px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
}

.incident-form .form-group textarea {
    /* display: inline-block; */
    width: 75% !important;
    height: 100px;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    /* margin-top: 10px; */
}

.incident-form ::-webkit-input-placeholder {
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    font-size: 0.8rem;
}

.incident-form .form-group label {
    width: 25%;
    display: inline-block;
    float: left;
    margin-top: 5px;
}

.form-group-footer {
    font-size: 0.8rem;
    color: #d8534f;
    text-align: center;
    display: block;
}

.incident-form .form-group:last-child {
    text-align: right;
}

.incident-form .form-button {
    width: 25%;
    /* display: block;
    text-align: right; */
}

.required {
    color: #d8534f;
}

/* Google map styles */
.mapouter {
    text-align: right;
    height: 300px;
    width: 700px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 700px;
}

.admin-status {
    font-size:2rem;
    color: #fdf81f;
}
.form-group select{
    width: 25%;
    height: 40px;
    font-size: 16px;
}
.admin-status select:after {
    color: red;
}
.tag {
    background-color: #fdf81f;
    padding:5px;
    width: 50px;
    text-transform: lowercase;
    border: none;
    border-radius: 10%;
    float:right;
}