{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incident</title>
</head>



{% block styles%}
    {{super()}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/incident.css')}}">
    {% endblock%}
<body>
    {% block content%}
    <div class="container ">
        <div class='incident-form-wrapper'>
            <div>
                <h1>Create an Incident</h1>
            </div>
            <form action='./incidences.html' enctype="multipart/form-data" class="incident-form">
                <div class='form-group'>
                    <label for=incident_type>Type <span class='required'>*</span></label>

                    <select name="incident_type">
                        <option value="">Select</option>
                        <option value="red_flag">Red Flag</option>
                        <option value="intervention">Intervention</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="title">Title <span class='required'>*</span></label>
                    <!-- <br> -->
                    <input type="text" name="title" placeholder="2-5 word description">
                </div>

                <div class="form-group">
                    <label for="description">Description <span class='required'>*</span></label>
                    <!-- <br> -->
                    <textarea name="description" placeholder="An explanation in detail of what you are reporting"></textarea>
                </div>
                <div class="form-group">
                    <label for="media">Media</label>
                    <input type="file" name="media" accept="video/*,image/*" multiple>
                    <br>
                    <span class="form-group-footer">Attach images and videos(You can select more that one file.)</span>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <!-- <input type="textarea" name="location" placeholder="location"> -->
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="700" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="form-button">Submit</button>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
    
</body>
</html>