<nav class="navbar navbar-default">
    <div role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color: cornsilk;" href="/"><strong>i-ReporterApp</strong></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a style="color: brown;" href="#">Home</a></li>
                    <li><a style="color: brown;" href="#">Dashboard</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" style="color: brown;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Report
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#" style="color: brown;">Red Flag</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#" style="color: brown;">Intervention</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" style="color: brown;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Sign Up
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#" style="color: brown;">Admin</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#" style="color: brown;">User</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" style="color: brown;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Sign In
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#" style="color: brown;">Admin</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#" style="color: brown;">User</a>
                        </div>
                    </li>
                    <li><a style="color: brown;" href="#">Sign Out</a></li>
                        
                </ul>
            </div>
        </div>
    </div>    
</nav>  